
.stApp {
    background-color: #000000;
    background-image: url("https://raw.githubusercontent.com/Yoojeong-Kim/What-We-Love_by-Sweet.T/main/Background.JPG?v=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
